body {
    background-color: black;
}

.cow_head {
    color: white;
    text-align: center;
    font-family: "JetBrains Mono";
}

.cow_body {
    color: white;
    font-size: 15pt;
    font-family: "JetBrains Mono";
}

.cow_body p b {
    color: red;
}

.back i {
    font-size: 48px;
    color: red;
    transition: 0.2s;
}

.back i:hover {
   font-size: 55px; 
   cursor: pointer;
}
