body {
    background-color: black;
}

.cow_head {
    color: white;
    text-align: center;
    font-family: "JetBrains Mono";
}

.cow_body {
    color: white;
    font-size: 15pt;
    font-family: "JetBrains Mono";
}

