body {
    background-color: black;
}


.projects {
	color: white;
	text-align: center;
	font-size: 20pt;
	font-family: "JetBrains Mono";
}

.back i {
    font-size: 48px;
    color: red;
	transition: 0.2s;
}

.back i:hover {
   font-size: 55px; 
   cursor: pointer;
}
